
body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    font-family:sans-serif;
}

.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1a1a1a;
}

.link-group{
    list-style: none;
    display: flex;
}

.link a{
    color: whitesmoke;
    opacity: 0.5;
    text-decoration: none;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}

.link a:hover {
opacity: 1;
}

.name-section {
   
align-items: center;
padding:0 130px;
}

.kelton {
color: whitesmoke;
font-size: 130px;
font-weight: 180;
display:flex;
width:100%;
height:100vh;  
transition:1s;
}
  
.fig-img{
 position: absolute;
 top: 100px;
 right: 0;
 height: 80vh;
 width: 40%;
object-fit: cover;
opacity: 0.4;
}  


.title {
    color:whitesmoke
}

p{
color:whitesmoke;
}
.section-header {
color:whitesmoke;
padding-bottom: 5px;
font-family:sans-serif;
margin:100px;
font-size: xx-large;
font-weight: lighter;
opacity:0.5;
}
.section-header:hover {
opacity: 1;
}

.row {
display:flex;
flex-wrap: wrap;
flex-direction: row;
margin-left: -1.5rem;
margin-right:-1.5rem;
}

.card-colum {
flex: 1 0 100%;
padding:1.5rem;
transition:flex-basis 500ms linear;
}

.card-projects {
    /* background-color:lightgrey;
    border: solid 2px lightgrey; */
    border-radius: .4em;
    padding: .7em 1.2em 0 1.2rem;
    opacity:0.4;
    color:whitesmoke;
}
.justify-center {
    justify-content: center;
}

.card-projects:hover {
transform: scale(1.1);
box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.4);
z-index: 3;
border-color:#007bff;
opacity:0.8;
}
.project-image {
    border-radius: 6px;
}
